h1{
font-size: 64px;
}

.list-item {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #2D3A3D;
	}

li {
    float: left;
    border-right:5px solid #bbb;
	font-size: 24px;
	}

.list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
	background-color: rbg(255, 121, 117);
}

.active {
    background-color: #2D3A3D;
	background-color: rbg(255, 121, 117);
}

.grid {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 25% 25% 2fr 1fr;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.box {
  background-color: rbg(255, 121, 117);
  color: black;
  border-radius: 5px;
}


.a {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 2;
  }

.b {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: 2;
  }
  
  .c {
	background-color: rbg(255, 255, 255);
  }
  
  .list{
  font-size: 24px;
	}
	
	.list2 div{
	display: inline-block;
    color: black;
    text-align: center;
    padding: 0 12px 0 16px;
    text-decoration: none;
	list-style-type: none;
	}
	
	p{
	font-size: 24px;
	}
	
	.c {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 3;
  }
  
  ul {
  list-style-type: none;
}

.chart div {
height: 50%;
width: 50%;
}
 
p2{
 margin-right: 50px;
 margin-left: 50px;
}

h3{
margin: 0px, 
}
  
 